@import "tailwindcss";

@theme {
  --color-on-secondary-container: #596373;
  --color-surface-container-high: #e7e8e9;
  --color-secondary-fixed-dim: #bdc7d9;
  --color-tertiary-container: #00a7cb;
  --color-inverse-primary: #ffb59d;
  --color-outline-variant: #e1bfb5;
  --color-on-background: #191c1d;
  --color-on-error: #ffffff;
  --color-secondary: #555f6f;
  --color-primary-container: #ff6b35;
  --color-tertiary-fixed: #b5ebff;
  --color-error: #ba1a1a;
  --color-on-primary-fixed-variant: #832600;
  --color-on-secondary-fixed: #121c2a;
  --color-tertiary: #00677e;
  --color-background: #f8f9fa;
  --color-on-surface-variant: #594139;
  --color-surface-tint: #ab3500;
  --color-error-container: #ffdad6;
  --color-primary: #ab3500;
  --color-inverse-on-surface: #f0f1f2;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-surface: #2e3132;
  --color-on-secondary: #ffffff;
  --color-surface-container: #edeeef;
  --color-on-primary: #ffffff;
  --color-outline: #8d7168;
  --color-secondary-fixed: #d9e3f6;
  --color-surface-variant: #e1e3e4;
  --color-secondary-container: #d6e0f3;
  --color-on-secondary-fixed-variant: #3d4756;
  --color-primary-fixed-dim: #ffb59d;
  --color-surface-container-low: #f3f4f5;
  --color-primary-fixed: #ffdbd0;
  --color-on-tertiary-fixed-variant: #004e60;
  --color-surface-dim: #d9dadb;
  --color-surface: #f8f9fa;
  --color-surface-bright: #f8f9fa;
  --color-on-tertiary-container: #003744;
  --color-on-primary-container: #5f1900;
  --color-on-tertiary-fixed: #001f28;
  --color-tertiary-fixed-dim: #59d5fb;
  --color-surface-container-highest: #e1e3e4;
  --color-on-tertiary: #ffffff;
  --color-on-surface: #191c1d;
  --color-on-error-container: #93000a;
  --color-on-primary-fixed: #390c00;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;
  --spacing-base: 8px;
  --spacing-margin-desktop: 64px;
  --spacing-stack-sm: 4px;
  --spacing-container-max: 1280px;
  --spacing-margin-mobile: 20px;
  --spacing-gutter: 24px;
  --font-display-lg-mobile: Inter;
  --font-display-lg: Inter;
  --font-body-sm: Inter;
  --font-body-lg: Inter;
  --font-label-md: Inter;
  --font-body-md: Inter;
  --font-headline-lg: Inter;
  --font-headline-md: Inter;
  --font-headline-lg-mobile: Inter;
  --font-label-sm: Inter;
}

.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.material-symbols-outlined.fill { font-variation-settings: 'FILL' 1; }
.shadow-level-1 { box-shadow: 0px 4px 20px rgba(31, 41, 55, 0.04); }
.shadow-level-2 { box-shadow: 0px 12px 30px rgba(31, 41, 55, 0.08); }
.hover-lift { transition: transform 0.3s ease, box-shadow 0.3s ease; }
.hover-lift:hover { transform: translateY(-4px); box-shadow: 0px 12px 30px rgba(31, 41, 55, 0.08); }
.filter-checkbox:checked { background-color: #ab3500; border-color: #ab3500; }
.product-card-shadow { box-shadow: 0 4px 20px 0 rgba(31, 41, 55, 0.04); }
.product-card-shadow:hover { box-shadow: 0 12px 30px 0 rgba(31, 41, 55, 0.08); }